@charset "utf-8";

.main {
    display: flex;
    position: relative;
}

/*----------------------------------- 
* Todo部分
----------------------------------- */

.todo {
    width: 60%;
    margin:20px;
    border: double 5px gray;
}

.itemarea {
    display: flex;
    width: 98%;
    margin-left:1%;
    margin-right: 1%;
    height: 50px;
    margin-bottom: 10px;
    border-top:solid 1px gray;
    padding-top: 1%;
}

.item {
    width: 20%;
}

.itemdetail {
    width: 79%;
    margin-left: 1%;
}

.pserson {
    display: flex;
}

.other {
    display: flex;
    width: 98%;
    margin-left:1%;
    margin-right: 1%;
    height: 180px;
    margin-top:10px;
    margin-bottom: 20px;
    border-top:solid 1px gray;
    padding-top: 1%;
}

.otherdetail {
    overflow: scroll;
}

.finish {
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
    text-align: center;
    height: 20px;
}

.finishbtn {
    width: 100%;
    background-color:#C78338;
    color: white;
    font-weight: bold;
    border-bottom: solid 4px #925825;
    border-radius: 3px;
}

#finishbtn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(2px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}


/*----------------------------------- 
* Message部分
----------------------------------- */

.message {
    width: 38%;
    background-color: #FED9AE;
    margin:20px;
    position: relative;
}

.talktitle {
    position: absolute;
    top:0;
    height: 5%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color:#C78338;
    color:white;
    z-index:10;
}

.chatbody {
    width: 100%;
    margin-top:30px;
    margin-bottom: 30px;
    height:75%;
    overflow: scroll;
}

.inputarea {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:20%;
}

#mes {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 80%;
}

#submit {
    margin-left: 81%;
    margin-right:1%;
    height: 80%;
    width: 18%;
    background-color: #C78338;
    color: white;
    font-weight: bold;
    border-bottom: solid 4px #925825;
    border-radius: 3px;
}

#submit:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(2px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.mblock {
    width: 100%;
    height: 100px;
    display: flex;
    margin: 20px 0;
    border-top:solid 1px gray;
}

.uimg {
    width: 50px;
    height: 50px;
}

.mname {
    height: 20px;
    margin-bottom: 10px;
}

.mtext {
    width: 100%;
    height: 70px;
}

.talktext {
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    background-color:transparent;
}
