@charset "utf-8";

* {
    box-sizing: border-box;
}

dl {
    display:flex;
}

.login {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    margin: 30px auto;
}

a {
    width: 100px;
    height: 50px;
    padding: 1%;
    background-color: blanchedalmond;
    margin: 10px;
    display: inline-block;
}

.list {
    display: flex;
    height: 100px;
    background-color: blanchedalmond;
}

.list li {
    border: solid black 2px;
    width: 150px;
    height: 100px;
}

.listSelect {
    background-color: #322bce;
}
