@charset "utf-8";
/*--------------------------- 
* 全体に適応
----------------------------*/
* {
    box-sizing: border-box;
    font-size: 24px;
}

/*--------------------------- 
* 部品適応
---------------------------*/
h1 {
    background-color: blue;
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin: 20px 0px;
    padding: 20px;
}

footer {
    background-color: blue;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    bottom: 0;
}

span:hover {
    color:red;
    font-size: 32px;
    border: solid greenyellow 2px;
}

#quest {
    margin-left: 20px;
}

#question {
    margin: 30px 0;
    text-align: center;
}

label {
    margin: 20px 0 0 0;
}

/* クイズ終了後にJQueryにて表示させる */
.kekka {
    margin: 30px;
    color: red;
}

/*-------------------------------
* 回答時間のアニメーション
-------------------------------*/
#resttime {
    width: 1000px;
    background-color: red;
    transition-duration: 10s;
    transition-property: width;
    transition-timing-function: linear;
}

#resttime.motion {
    width: 100px;
}

#resttime.clearcss {
    width: 1000px;
    background-color: red;
    transition-duration: 1ms;
    transition-property: width;
    transition-timing-function: linear;

}

/*-------------------------------
* 過去成績
-------------------------------*/
.history {
    margin:30px 10px;
}

h3 {
    margin: 20px 10px;
}

.seiseki {
    margin: 10px;
}