@charset "utf-8";

* {
    box-sizing: border-box;
}

#action{
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background-color:#fff;
    border:#000 3px solid;
    position: absolute;
    -webkit-transition-property:left,width,height,background-color;
    -webkit-transition-duration:10s,10s,10s,10s;
    -webkit-transition-timing-function:linear,linear,linear,linear;
    -moz-transition-property:left,width,height,background-color;
    -moz-transition-duration:10s,10s,10s,10s;
    -moz-transition-timing-function:linear,linear,linear,linear;
    -o-transition-property:left,width,height,background-color;
    -o-transition-duration:10s,10s,10s,10s;
    -o-transition-timing-function:linear,linear,linear,linear;
    transition-property:left,width,height,background-color;
    transition-duration:10s,10s,10s,10s;
    transition-timing-function:linear,linear,linear,linear;
}

#action.motion{
    left: 800px;
    width: 10px;
    height: 10px;
    background-color:#555;
}

.timeover {
    width: 100px;
    height: 100px;
}

.nokori {
    margin-top: 100px;
}